* {
  all: unset;
}

window {
  all: unset;
  min-height: 20px;
	background-color: black;
	color: white;
	font-size: 9pt;
	box-shadow: none;
	border: 1px solid white;
	border-radius: 10px;
}

box {
  all: unset;
}

button {
  background-color: green;
  min-height: 10px;
  min-width: 30px;
}

scale trough {
  background-color: white;
  min-height: 10px;
	border-radius: 5px;
}

scale highlight {
  background-color: red;
  min-height: 10px;
	border-radius: 5px;
}
